h1 {
	text-align: center;
}

.dashboard {
	margin-top: 70px;
	font-family: "DIN Next Rounded LT Pro";
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0;
	.graf-field{
		margin-top: 10px;
		background-color: #FFFF;
		.header{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.a{
				margin-right: 10px;
			}
		}
	}
}

.footer{
	text-align: center;
	padding: 10px;
	button{
		margin: 10px;
	}
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}